<%- include("../partials/header.ejs") %>
<%- include("../partials/navbar.ejs") %>

<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
      <%- include("../partials/sidebar.ejs") %>

    <!-- Main Content -->
    <main class="col-lg-10 offset-lg-2 pt-4 px-4 min-vh-100">
      <div class="d-flex justify-content-between mt-4">
          <button class="btn btn-lg mb-3 add-doc__btn" data-bs-toggle="modal" data-bs-target="#addReferrerModal">
            <i class="fas fa-plus-circle"></i> Shto referues
          </button>
          <div class="doctor-header ms-5">
            <h1 class="dash-page__title">Shiko referuesit</h1>
          </div>
        <div class=""></div>
        <div class=""></div>
      </div>

      <div class="card shadow">
        <div class="card-body">
          <table id="refsTable" class="table table-bordered table-striped">
            <thead class="table-light">
              <tr>
                <th>#</th>
                <th>Emri i plote</th>
                <th>Tel</th>
                <th>Email</th>
                <th>Departamenti</th>
                <th>U regjistrua</th>
                <th style="width: 11%;">I perditsuar</th>
                <th>Veprimet</th>
              </tr>
            </thead>

            <tbody>
              <% referrs.forEach((ref, index) => { %>
                <tr>
                  <td><%= index + 1 %></td>
                  <td><%= ref.full_name %></td>
                  <td><%= ref.tel %></td>
                  <td><%= ref.email %></td>
                  <td><%= ref.department %></td>
                  <td><%= new Date(ref.created_at).toLocaleDateString("en-US") %></td>
                  <td>
                    <% if (ref.updated_at) { %>
                        <%= new Date(ref.updated_at).toLocaleString("en-US", {
                          day: "2-digit",
                          month: "2-digit",
                          year: "numeric",
                          hour: "2-digit",
                          minute: "2-digit",
                          hour12: true
                        }) %>
                    <% } else { %>
                      <span>Jo</span>
                    <% } %>
                  </td>
                  <td>
                    <a href="#" class="btn btn-warning edit-ref-btn"
                      data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Perditso referuesin"
                      data-id="<%= ref.id %>"
                      data-name="<%= ref.full_name %>"
                      data-tel="<%= ref.tel %>"
                      data-email="<%= ref.email %>"
                      data-department="<%= ref.department %>"
                      data-department="<%= ref.created_at %>"
                      data-bs-toggle="modal" data-bs-target="#editRefModal">
                      <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a href="#" class="btn btn-danger delete-ref-btn"
                      data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Fshij referuesin"
                      data-id="<%= ref.id %>"
                      data-name="<%= ref.full_name %>"
                      data-bs-toggle="modal" data-bs-target="#deleteRefModal">
                      <i class="fa-solid fa-trash"></i>
                    </a>
                  </td>
                </tr>
              <% }) %>
            </tbody>

            <tfoot>
              <tr>
                <th><input type="text" placeholder="#" class="form-control form-control-sm" /></th>
                <th><input type="text" placeholder="Emri i plote" class="form-control form-control-sm" /></th>
                <th><input type="text" placeholder="Tel" class="form-control form-control-sm" /></th>
                <th><input type="text" placeholder="Email" class="form-control form-control-sm" /></th>
                <th><input type="text" placeholder="Departamenti" class="form-control form-control-sm" /></th>
                <th><input type="text" placeholder="Data krijimit" class="form-control form-control-sm" /></th>
                <th><input type="text" placeholder="I përditësuar" class="form-control form-control-sm" /></th>
                <th></th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </main>
  </div>
</div>

<%- include("../partials/modals/refModals.ejs") %>


<%- include("../partials/dataTables.ejs") %>
<!-- MY SCRIPTS -->
<script src="/js/tables/tables.js"></script>
<script src="/js/modals/modals.js"></script>
<script src="/js/swal/swal.js"></script>

<%- include("../partials/footer.ejs") %>