<%- include("../partials/header.ejs") %>
<%- include("../partials/navbar.ejs") %>

<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
      <%- include("../partials/sidebar.ejs") %>

    <!-- Main Content -->
    <main class="col-lg-10 offset-lg-2 pt-4 px-4 min-vh-100">
      <div class="d-flex justify-content-between mt-4">
          <button class="btn btn-lg mb-3 add-doc__btn" data-bs-toggle="modal" data-bs-target="#addReferrerModal">
            <i class="fas fa-plus-circle"></i> Shto njesi organizative
          </button>
          <div class="doctor-header ms-5">
            <h1 class="dash-page__title">Shiko njesit organizative</h1>
          </div>
        <div class=""></div>
        <div class=""></div>
      </div>

      <div class="card shadow">
        <div class="card-body">
          <table id="locationsTable" class="table table-bordered table-striped">
            <thead class="table-light">
              <tr>
                <th>#</th>
                <th>Emri</th>
                <th>Veprimet</th>
              </tr>
            </thead>

            <tbody>
              <% locations.forEach((location, index) => { %>
                <tr>
                  <td><%= index + 1 %></td>
                  <td><%= location.name %></td>
                  <td>
                    <a href="#" class="btn btn-warning edit-location-btn"
                      data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Perditso njesin organizative"
                      data-id="<%= location.id %>"
                      data-name="<%= location.name %>"
                      data-bs-toggle="modal" data-bs-target="#editRefModal">
                      <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a href="#" class="btn btn-danger delete-location-btn"
                      data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Fshij njesin organizative"
                      data-id="<%= location.id %>"
                      data-name="<%= location.name %>"
                      data-bs-toggle="modal" data-bs-target="#deleteRefModal">
                      <i class="fa-solid fa-trash"></i>
                    </a>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </div>
</div>

<%- include("../partials/modals/locationModals.ejs") %>


<!-- DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<!-- DataTables Buttons CSS & JS -->
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">
<script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>

<!-- MY SCRIPTS -->
<script src="/js/tables/tables.js"></script>
<script src="/js/modals/modals.js"></script>
<script src="/js/tooltips/tooltips.js"></script>
<script src="/js/swal/swal.js"></script>


<%- include("../partials/footer.ejs") %>