<%- include("../partials/header.ejs") %>
    <%- include("../partials/navbar.ejs") %>
    <div class="container register-container shadow-lg p-5 rounded-5">
        <div class="row">
            <div class="col-lg-6">
                <h1>Krijo nje llogari te re</h1>
                <p>
                <span class="text-muted">Veqse ke nje llogari?</span> 
                <a href="/login" class="register-link">Identifikohu</a>
                </p>
                <form action="/register" method="POST" class="mt-5">
                    <div class="mb-3">
                        <label for="username" class="form-label">Emri</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Emri..." required>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Email..." required>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Fjalkalimi</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Fjalkalimi..." required>
                    </div>

                    <button type="submit" class="btn btn-lg w-100 mt-3 mb-3 text-light register-btn">Regjistrohu</button>

                    <% if (locals.error) { %>
                        <div id="error-msg" class="text-danger">
                            <p><%= error %></p>
                        </div>
                    <% } else if (locals.accDeleted) { %>
                        <div id="acc-del" class="text-success">
                            <%= accDeleted %>
                        </div>
                    <% } %>
                </form>
            </div>

            <div class="col-lg-6 d-none d-lg-block">
                <img src="/images/login.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script>
      $(document).ready(function () {
          const errorMsg = $("#error-msg");
          const successMsg = $("#success-msg");

          if (errorMsg.length) {
              setTimeout(() => {
                  errorMsg.fadeOut("slow");
              }, 5000);
          }

          if (successMsg.length) {
              setTimeout(() => {
                  $successMsg.fadeOut("slow");
              }, 5000);
          }
      });
  </script>
<%- include("../partials/footer.ejs") %>