<%- include("../partials/header.ejs") %>
<%- include("../partials/navbar.ejs") %>

<div class="container-fluid">
  <div class="row">
    <%- include("../partials/sidebar.ejs") %>

    <main class="col-lg-10 offset-lg-2 pt-4 px-4 min-vh-100">
      <div class="d-flex justify-content-between mt-4">
        <button class="btn btn-lg mb-3 add-doc__btn" data-bs-toggle="modal" data-bs-target="#addAppointmentModal">
          <i class="fas fa-plus-circle"></i> Shto termin
        </button>
        <h1 class="dash-page__title">Shiko Terminet</h1>
        <div class=""></div>
        <div class=""></div>
      </div>

      <div class="card shadow">
        <div class="card-body">
          <table id="appointmentsTable" class="table table-bordered table-striped">
            <thead class="table-light">
              <tr>
                <th>#</th>
                <th>Pacienti</th>
                <th>Doktori</th>
                <th>Data</th>
                <th>Ora</th>
                <th>Statusi</th>
                <th>Veprimet</th>
              </tr>
            </thead>
            <tbody>
              <% appointments.forEach((a, index) => { 
                  const localDate = new Date(a.date.getTime() - (a.date.getTimezoneOffset() * 60000)); 
              %>
                <tr>
                  <td><%= index + 1 %></td>
                  <td><%= a.patient_name %></td>
                  <td><%= a.doctor_name %></td>
                  <td><%= localDate.toLocaleDateString() %></td>
                  <td><%= a.time?.substring(0, 5) %></td>
                  <td><%= a.status %></td>
                  <td>
                    <a href="#" class="btn btn-warning edit-appointment-btn"
                      data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Përditëso termin"
                      data-id="<%= a.id %>"
                      data-patient="<%= a.patient_id %>"
                      data-doctor="<%= a.doctor_id %>"
                      data-date="<%= localDate.toISOString().split('T')[0] %>"
                      data-time="<%= a.time %>"
                      data-status="<%= a.status %>">
                      <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a href="#" class="btn btn-danger delete-appointment-btn"
                      data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Fshij doktorin"
                      data-id="<%= a.id %>"
                      data-name="<%= a.patient_name %>">
                      <i class="fa-solid fa-trash"></i>
                    </a>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </div>
</div>

<%- include("../partials/modals/appointmentModals.ejs") %>

<%- include("../partials/dataTables.ejs") %>


<!-- Select2 CSS -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<!-- Select2 JS -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<!-- datepicker jqueryUI -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>

<!-- Timepicker CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<!-- Timepicker JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

<link  href="/css/picker.css" rel="stylesheet">
<script src="/js/picker.js"></script>

<!-- MY SCRIPTS -->
<script src="/js/tables/tables.js"></script>
<script src="/js/pickers/pickers.js"></script>
<script src="/js/select/select.js"></script>
<script src="/js/modals/modals.js"></script>
<script src="/js/swal/swal.js"></script>
<script src="/js/appointments/appointments-form.js"></script>


<%- include("../partials/footer.ejs") %>
